<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--若需要打印在日志文件中，则再写一个appender标签-->

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>